doctype html
html(lang="en" class="no-js")
  head
    meta(charset='utf-8')
    title figtree | Export fig.yml to Diagram Graph.
    meta(name="description" content="Export fig.yml to Diagram Graph.")
    meta(name="keywords" content="fig, figtree, docker, dockers, diagram, graph")
    meta(name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")

    // build:css(./) css/figtree.css
    // endbuild

    // build:css css/figtree-app.css
    // endbuild

  body

    // build:js(./) js/figtree.js
    // endbuild

    // build:js js/figtree-app.js
    // endbuild

